<div class="container">
  <div class="top-section">
    <h3>Currency Exchanger</h3>
  </div>
  <div class="converter-panel">
    <app-converter-panel
      [conversionRates]="conversionRates"
      [currencies]="currencies"
      (convertFromCurrencyChange)="onConvertFromCurrencyChange($event)"
      (convertToCurrencyChange)="onConvertToCurrencyChange($event)"
      (defaultAmountChange)="onDefaultAmountChange($event)"
      (convertedResultChange)="onConvertedResultChange($event)"
      (convertedValuesChange)="handleConvertedValues($event)"
    ></app-converter-panel>
  </div>

  <div class="cards-grid">
    <app-currency-card *ngFor="let item of convertedValues" [currency]="item"></app-currency-card>
  </div>
</div>
